@page "/test"
@using MySampleLibrary

<h1>test</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<hr />
<button class="btn btn-primary" @onclick="GetCities">Get Cities</button>



@*@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>이름</th>
                <th>위치</th>
                <th>크기</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var city in Cities)
            {
                <tr>
                    <td>@city.Name</td>
                    <td>@city.Location</td>
                    <td>@city.Size</td>
                </tr>
            }
        </tbody>
    </table>
}*@



    @code {
        private int currentCount = 0;

        private void IncrementCount()
        {
            currentCount++;
        }


        public List<City> Cities { get; set; }
        public async Task GetCities()
        {
            Cities = City.GetSampleCities();

            foreach (var city in Cities)
            {
                Console.WriteLine(city.Name, city.Location, city.Size);
            }
        }

    }