@page "/test"
@using MySampleLibrary

<h1>test</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<hr />
<button class="btn btn-primary" @onclick="GetCities">Get Cities</button>

@if (Cities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>이름</th>
                <th>위치</th>
                <th>크기</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Cities in Cities)
            {
            <tr>
                <td>@Cities.Name</td>
                <td>@Cities.Location</td>
                <td>@Cities.Size</td>
            </tr>
            }
        </tbody>
    </table>
}



@code {
    private int currentCount = 0;

    public List<City> Cities { get; set; }

    private void IncrementCount()
    {
        currentCount++;
    }

    public async Task GetCities()
    {
        Cities = City.GetSampleCities();

        foreach (var city in Cities)
        {
            Console.WriteLine(city.Name, city.Location, city.Size);
        }
    }

}